<div class="container">
  <div class="row mt-5">
    <h3 class="text-center">Choose the date and the time of the speed meeting</h3>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <%= simple_form_for @time,
                        html: {
                          data: {
                            controller: 'flatpickr'
                          }
                        } do |f| %>
        <%= f.input :start_date,  as: :string,
                  input_html: {
                    data: {
                      flatpickr_target: 'startDateInput',
                    }
                  }
         %>
        <%= f.input :end_date, as: :string,
                  input_html: {
                    data: {
                      flatpickr_target: 'endDateInput'
                    }
                  }
        %>
        <%= f.input :slot_size, collection: [15, 30], label: "Slot Size (minutes)", as: :select %>

      </div>
      <div class="col-4">
        <%= image_tag "times.jpg", class: 'w-100 form-side-image' %>
      </div>
  </div>
  <div class="row mt-5 mb-5">
    <%= f.button :submit, class: "btn btn-primary d-block mx-auto w-50", value: "Create campaign!" %>
  </div>
  <% end %>
</div>
