<% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
  <!-- navbar code here -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="height: 83px;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if current_user.role == 'manager' %>
              <%= link_to 'Campaign meetings', list_bookings_path, class: "nav-link" %>
            <% elsif current_user.role == 'student' %>
              <%= link_to "View my bookings", list_bookings_path, class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <div style="background-color: <%= current_user.initials_color %>" class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown">
              <span class="avatar"><%= current_user.initials.upcase %></span>
            </div>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.role == 'manager' %>
                <%= link_to 'Create campaign', new_choose_batch_path, class: "dropdown-item" %>
                <%= link_to 'My campaign stats', "#", class: "dropdown-item" %>
              <% elsif current_user.role == 'student' %>
                <%= link_to 'My bookings', list_bookings_path(current_user), class: "dropdown-item" %>
                <%= link_to 'Recruiters', recruiters_path(current_user.campaigns.last), class: "dropdown-item" %>
              <% elsif current_user.role == 'recruiter' %>
                <%# lol %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
