<li><strong>Candidates:</strong> <%= @students.length %></li>
<li><strong>Recruiters:</strong> <%= @recruiters.length %></li>


<li><strong>Batch Number:</strong>

    <%= @campaign.batch_number %>

</li>

<li><strong>Students:</strong>
  <ul>
    <% @students.each do |student| %>
      <li><%= student.full_name_and_company %></li>
    <% end %>
  </ul>
</li>
<li><strong>Recruiters:</strong>
  <ul>
    <% @recruiters.each do |recruiter| %>
      <li><%= recruiter.full_name_and_company %></li>
    <% end %>
  </ul>
</li>
