<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>detail</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>



    <div class="container">

      <div class="detail">
        <div class="detail-card main">
          <div class="detail-card-content">
            <%= cl_image_tag @avatar_key, class: "img-circle" %>
            <h3><%= @recruiter.full_name %></h3>
            <p>Technical Recruiter at <%= @company.name %></p>
            <a href="www.cal.com/email-a/30mn" class="btn btn-primary btn-lg">Book a meeting</a>
          </div>
        </div>
        <div class="detail-card stat">
          <div class="detail-card-content">
            <h3>Skills I'm looking for</h3>
              <div class="ringo-item">
              <ul>
                <% @skills_array.each do |skill| %>
                  <li><%= skill %></li>
                <% end %>
              </ul>

            </div>

          </div>
        </div>
        <div class="detail-card stat">
          <div class="detail-card-content">
            <h3>Looking for candidates with:</h3>

              <p class="text-justify">
                <%= @recruiter.looking_for %>
              </p>

            </div>
          </div>

        <div class="detail-card description">
          <div class="detail-card-content">
            <h3>About <%= @company.name %></h3>
            <%= cl_image_tag @company_key, class: "img-circle" %>
            <p class="text-justify">
            <p><%= @recruiter.company.company_descriptions %></p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
